# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
dist/
.DS_Store

# env files (can opt-in for committing if needed)
.env*

# editor directories and files
.vscode/*
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
